{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block body %}

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sortcut icon" type="image/png" href="./img/calculadora.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Marvel</title>

    <link rel="stylesheet" href="{% static 'css/camera.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
    <script src="{% static 'js/camera.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script>
      $(document).ready(function () {
        if ($('html').hasClass('desktop')) {
          new WOW().init();
        }
      });
    </script>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">

    

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/footers.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <!-- <link href="{% static 'css/carousel.css' %}" rel="stylesheet"> -->

</head>

<body>
  <div class="full-width-container block-1">
    <div class="camera_container">
      <div id="camera_wrap">
        <div class="item" data-src="/static/img/index_img_slider-1.jpg">
          <div class="camera_caption fadeIn">
            <h3>Tudo sobre os personagens da Marvel!</h3>
          </div>
        </div>
        <div class="item" data-src="/static/img/index_img_slider-2.jpg">
          <div class="camera_caption fadeIn">
            <h3>Tudo sobre os filmes da Marvel!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
      jQuery(function(){
        jQuery('#camera_wrap').camera({
          height: '34.58333333333333%',
          thumbnails: false,
          pagination: true,
          fx: 'simpleFade',
          loader: 'none',
          hover: false,
          navigation: false,
          playPause: false,
          minHeight: "139px",
        });
      });
    </script>
    <script>
      $(document).ready(function() {
        $(".owl-carousel").owlCarousel({
          navigation: true,
          pagination: false,
          items : 3,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3],
          itemsTablet: [750,1],
          itemsMobile : [479,1],
          navigationText: false
        });
      });
    </script>
    <script>
      $(document).ready(function() { 
          if ($('html').hasClass('desktop')) {
            $.stellar({
              horizontalScrolling: false,
              verticalOffset: 20,
              resposive: true,
              hideDistantElements: true,
            });
          }
        });
    </script>
  </body>

</html>

{% endblock body %}