{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block body %}

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sortcut icon" type="image/png" href="./img/calculadora.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <!-- Custom styles for this template -->
    <link href="{% static 'css/footers.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/features.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/features/">

    <!-- Bootstrap core CSS -->


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <title>Marvel</title>
</head>
<body>
    <div class="container px-4 py-5" id="custom-cards">
      
      <div class="row row-cols-2 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/filmeViuvaNegra.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"  style="visibility: hidden">Much longer title that wraps to multiple lines</h2>
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <a href="{% url 'movies:black_widow_movie' %}">
                  <img src="{% static 'img/filmeViuvaNegra.jpg' %}" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/filmeHomemAranha.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="{% static 'img/filmeHomemAranha.jpg' %}" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/filmeDoutorEstranho.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="{% static 'img/filmeDoutorEstranho.jpg' %}" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-cols-2 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/filmeCapitaMarvel.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="{% static 'img/filmeCapitaMarvel.jpg' %}" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/filmeVingadoresUlt.jpeg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"  style="visibility: hidden">Much longer title that wraps to multiple lines</h2>
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="{% static 'img/filmeVingadoresUlt.jpeg' %}" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/filmeThor.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="{% static 'img/filmeThor.jpg' %}" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

  </body>
</html>

{% endblock body %}