table{
   background-color: #777777;
   padding: 2px;
}
form { 
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}
.botoes{
    background-color: #ecd469;
    width: 47px;
    height: 47px;
    font-size: 15px;
    border: 1;
    font-weight: bold;
}
.tela{ 
    width: 200px;
    height: 47px;
    background-color: #000000;
    color: #ffffff;
    border: 1;
    font-size: 25px;
    font-size: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.text-center {
	text-align: center;
}
.navbar {
    background-color: #202020;
    width: 100%;
    padding-right: var(--bs-gutter-x,1rem);
    padding-left: var(--bs-gutter-x,1rem);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
}

.navbar-item { 
    background-color: transparent;
    color: #fff;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar-item:hover { 
    background-color: transparent;
    color: #fff;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar-item-active { 
    background-color: #F11E22;
    color: #fff;
    border-radius: 0.0rem;

    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar-item-active:hover {
    color: #fff;
    background-color: #be0105;
}

.card-title-text { 
    font-weight: bold;
    margin-bottom: 0rem;
}